.*
!.gitignore
!/iceberg/.pyiceberg.yaml
!.python-version

/minio_data
/postgres_data
/venv
/scraper/target
/scraper/classes
/scraper/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
.hgignore
.hg/
/dbt/profiles.yml
